<div class="shadow-sm bg-dark">
    <nav class="navbar navbar-expand-md">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-light" href="https://www.devuan.org/os/init-freedom" target="_blank" class="a-green surname">init freedom</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="text-light" class="nav-link a-green">
                        <span class="nav-number">01.</span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="text-light" class="nav-link a-green">
                        <span class="nav-number">02.</span> Security Insight
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="text-light" class="nav-link a-green">
                        <span class="nav-number">03.</span> More than init
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="text-light" class="nav-link a-green">
                        <span class="nav-number">04.</span> Systemd-free distros
                    </a>
                </li>
              
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
