<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed by Even Becker.</p>
      <div class="footer-icons">
        
        <a href="https://github.com/" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://sysdfree.wordpress.com/" target="_blank" class="a-green">
          <i class="fas fa-globe"></i>
        </a>
        
      </div>
    </div>
  </div>
</footer>
