<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <p>
                    <img src="../../assets/pictures/final_art_lukesmith.png" alt="art from Luke Smith" class="center-picture">
                </p>
                <p class="lastupdate">
                    Last updated: September 28, 2025
                </p>
                <h2 class="default-topic">Security Insight.</h2>
                                             
                
                <p class="default-p">
                    The current state of privacy/security is catastrophic. Data breaches are everywhere. Chances are that your WhatsApp login is on the darknet. 
                    <a href="https://www.techradar.com/pro/security/atandt-denies-leaked-data-of-70-million-people-is-from-its-systems"  target="_blank" class="a-simple">
                        Most companies deny leaked data of their customers.</a>
                     Medical data might be shared with marketers. Employers and insurrance companies might access these sensitive data and discriminate people. In addition, thousands of script kiddies and cyber-punks want to hack you... It's time to think about how to protect computer users' privacy.</p>
                     <p class="big-p"><q>Privacy: the singular right able to protect all of your other rights</q> --RTP</p>

                <p class="no-marge-p">
                    Sophisticated cyber-attacks combine:
                </p>
                <div class="bullet-box">
                <ul style="list-style-type:square;">
                    <li>the knowledge of your mobile phone number and your email address to send you malicious queries related to (fake) orders (paypal, amazon, ...)</li>
                    <li>malware to redirect you to fake website that mimic the shopping/booking website you use</li>
                    <li>malware to steal your login credentials (paypal, amazon, banks, emails, ...)  and your browser' bookmarks and autofill content (postal address, phone number, ...)</li>
                    <li>the knowledge of your family/friends to impersonate them</li>
                    <li>malware to exploit your installed software or OS vulnerabilities and then access your sensitive documents (bank details, health insurance number, medical data, scans of sensitive data such as  identity card, ...)
                </ul>
            </div>
                <div class="spacer"></div>
                <p class="default-p">                       
                    The best protection is to use FOSS (free and open source) software on Linux/*BSD, to browse the internet with an up-to-date browser on Linux/*BSD and to <span class="default-highlight">avoid installing apps on your smartphone</span>. No WhatsApp, no Facebook, no banking apps (besides the authenticators), no Google Contacts/Gmail. I just install the Brave browser and a privacy-focused PDF reader: Xodo. <a routerLink="/security" fragment="wifi" class="a-simple">Wi-Fi is insecure as fuck</a>, better use 4G/5G networks.
                </p>
                <p class="default-p">Photos taken from an Android/iOS-powered smartphone are probably secretly shared with unknown third-parties and will probably be used for abominable AI experiments. Indeed, the Facebook app is preinstalled and cannot be removed. This app is running even if you are not logged in.</p>
                <p class="big-p"><q>Facebook's app has started scanning photos people take with their phones. I suspect the face recognition is done by sending the photos to a Facebook server. If so, the server could do other things with those photos. It could save them and send them to Big Brother.</q> --Stallman</p>
                <div class="myrow">
                   
                        <img src="../../assets/pictures/no-facebook.svg" class="no-fb" alt="no-fb logo" />
                  
                </div>
                <div class="spacer"></div>
                <p class="default-p"> For computers, <span class="default-highlight"> reducing the attack surface</span> is the key. Bloated software should be avoided. The list is long: MS Windows, MacOS, ChromeOS, closed-source software such as Adobe pdf reader, Google Chrome, Opera, MS Edge and Slack. Some open-source software are also suspected to contain bugdoors: Electron apps, Chromium, Firefox and VLC are examples.
                    <br>For Linux users: Closed-source drivers/firmware, <a routerLink="/security" fragment="gnome_id" class="a-simple">GNOME</a>, Systemd and Snap should be avoided. Flatpak is dangereous because most apps can access the microphone and home folder. Flatpak is not security-focused. In addition, it is important to regularly inspect the list of open ports. There should be none except those absolutely needed. And even there, check whether the service can be moved to 127.0.0.1 or ::1.
                </p>
                <p class="no-marge-p"> This approach is approved by <a href="https://www.stallman.org/facebook.html"  target="_blank" class="a-simple">
                    Richard Stallman 
               </a> (graduated from Harvard),
               <a href="https://lukesmith.xyz/"  target="_blank" class="a-simple">
                Luke Smith</a>,
               <a href="http://www.youtube.com/@emiliamerge7201"  target="_blank" class="a-simple">
                Emilia Merge</a>, the Obarun community and many others. If you really need bloated web browsers or electron apps, then I recommend to follow one of these methods:</p>
                <div class="bullet-box">
                    <ul style="list-style-type:square;">
                        <li>
                sandbox these apps with Bubblejail 
                        </li>
                        <li> log as another user to use these apps. The dedicated user should not belong to sudo group (to prevent sudo password sniffing). To create a new user called 'mesnate', simply do:<br> useradd -m mesnate<br> passwd mesnate  
                        </li>
                            <li> run these apps in a Virtual Machine. I do not recommend distrobox/docker/AppImage/Flatpak for security reasons.
                            </li>
                        </ul>
                    </div>
                <p class="default-p">For email communication, using encryption helps protect the privacy of people you communicate with. GnuPG allows to encrypt your emails with a public key and a private key. </p>
                <p class="default-p">What if you need to submit a rental application with employment information, your social security number, address? The recipient doesn't use GnuPG and you don't want that application sitting around in your email sent folder, or the recipient’s inbox forever. Shame on organizations which handle your sensitive data without any security. The only solution is to avoid relying on those organizations... but it's not always possible.</p>
                <!--<button>
                    <a href="https://sysdfree.wordpress.com/2024/04/02/384/"  target="_blank" class="a-green">
                        > Check the Linux xz fiasco 
                    </a>
                </button>-->
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 id="wifi" class="default-topic">What's wrong about Wi-Fi?</h2>
                    <div class="bullet-box">
                        <ul style="list-style-type:square;">
                            <li>Most home routers run Linux without basic security hardening features. According to Cyber-ITL researchers, it's a shame because these features are easy to adopt, come with no downsides, and are standard practices in Linux-based desktop, server and mobile OS.</li>
                            <li>Vulnerabilities in routers are an easy target for hackers. In addition, most users never update their routers firmware.</li>
                            <li>Cybercriminals often spy on public Wi-Fi networks. Data sent through public Wi-Fi can easily be intercepted. Besides, a malicious hotspot can have a connection name that’s deliberately similar to the connection name of the coffee shop, train station, hotel or airport you visit.</li>
                            <li>According to the FSF, proprietary Wi-Fi firmware and kernel modules could be spyware.</li>
                            <li>Snowden recommends to disable Wi-Fi in your home router.</li>
                        </ul>
                    </div>
                    <div class="spacer"></div>
                        <div class="spacer"></div>
                    <h2 id="gnome_id" class="default-topic">What's wrong about GNOME?</h2>
                    <div class="bullet-box">
                        <ul style="list-style-type:square;">
                            <li>GNOME's developers have been criticized for collecting user data, such as system information, usage patterns, and even user behavior. This data is used to improve GNOME, but data could be misused. </li>
                            <li>GNOME has tight integration with online services. Even if the corresponding software are not installed, the GNOME API's are present for the connectors.</li>
                            <li>GNOME relies on third-party dependencies, such as systemd-logind and GNOME extensions, which increase the attack surface.</li>
                            <li>Unlike KDE Plasma, GNOME does not have built-in tracking protection features, such as the ability to block tracking cookies and disable telemetry.</li>
                            <li>gnome-remote-desktop cannot be uninstalled and has numerous vulnerabilities that allows unauthenticated attackers to screw your system up.</li>
                        </ul>
                    </div>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                    <h2 class="default-topic">Insecure new kernels.</h2>
                    <p class="default-p">
                        The kernel devs have almost lost control on their kernel since version 6.1. Sometimes, they merge code from third-parties  <span class="default-highlight"> without review</span>. I have seen unsigned kernel modules from Broadcom on some Debian-based OSs. According to the Kicksecure team, old LTS kernels, such as 5.10, have the smallest attack surface. The FSF is struggling to remove all the non-free code for building the linux-libre kernel. However they are powerless regarding the growing attack surface in new kernels. The Hyperbola team is so disappointed that Hyperbola GNU/Linux-libre is switching to an OpenBSD base.
                        <br>GrSecurity brings additional patches to the mainline Linux kernel in order to enhance the security. Since April 2017, it is no longer free to the public. It is available only to paying customers of Open Source Security, Inc. A free and inferior solution is to read the Kernel Self Protection Project (KSPP) guidelines. 
                        KSPP provides a set of hardening options. Most distros apply a subset of the available hardening options when building their kernels. Arch/Artix Linux provide a package called 'linux-hardened', which implements all the KSPP recommendations. This kernel is optimized for servers and VMs. For daily Desktop usage, I don't recommend this kernel because of poor performance. Some distros, namely ParrotOS and Fedora, apply a configuration to harden the default kernel. Sadly, these distros use systemd and non-free firmware. I recommend to manually apply a similar config to a systemd-free system. It will prevent privilege escalation attacks through restricted ptrace access and disabled unprivileged BPF operations, while eliminating core dump generation to reduce attack surface. 
                    </p>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>
