  @media (max-width: 768px) {
    .about-picture {
      width: 250px;
    }
  }
  
  .about-picture{
    max-width: 820px;
    margin: 0.5rem 0rem 2rem 0rem;
  }
  .no-fb{
    width: 50%;
    max-width: 230px;
    /*margin: 0 auto;*/
  }
  ul li{
    /*max-width: 820px;*/
    font-size: 1.125rem;
    color: hsl(209, 11%, 89%);
    line-height: 1.625rem;
    margin-bottom: 0.5rem;
   }
   .logoFort {
    width: 94%;
    margin: 1rem 0rem 1rem 0rem;
  }