<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h1 class="default-subtopic"><i class='fas fa-tools' style='font-size:46px'></i>&nbsp;&nbsp;Work in progress</h1>
                <h2 class="default-topic">Security Insight.</h2>
                                             
                
                <p class="default-p">
                    The current state of privacy is catastrophic. Data breaches are everywhere. Chances are that your WhatsApp login is on the darknet. Medical data might be shared with marketers. Employers and insurrance companies might access these sensitive data and discriminate people... It's time to think about how to protect computer users' privacy.</p>

                <p class="no-marge-p">
                    Sophisticated cyber-attacks combine:
                </p>
                <ul style="list-style-type:square;">
                    <li>the knowledge of your mobile phone number and your email address to send you malicious queries related to (fake) orders (paypal, amazon, ...)</li>
                    <li>malware to redirect you to fake website that mimic the shopping/booking website you use</li>
                    <li>malware to read your paypal/amazon login</li>
                    <li>the knowledge of your family/friends to impersonate them</li>
                </ul>
                <p class="default-p">                       
                    The best protection is to use FOSS (free and open source) software on Linux/*BSD, to browse shopping/booking websites on Linux and to <span class="default-highlight">avoid installing apps on your smartphone</span>. No WhatsApp, no Facebook, no Google Contacts/Gmail. <br> Wi-Fi is insecure as fuck, better use 4G/5G networks.
                </p>
                <p class="default-p"> For computers, <span class="default-highlight"> reducing the attack surface</span> is the key. Some bloated software can be avoided. The list is long: MS Windows, MacOS, ChromeOS, non-free sofware, Google Chrome, Opera, Firefox, MS Edge, Slack, Snap (Linux), electron apps, Gnome, ... Flatpak is dangereous because most apps can access the microphone and home folder.
                </p>
                <p class="default-p"> This approach is approved by <a href="https://www.stallman.org/facebook.html"  target="_blank" class="a-simple">
                    Richard Stallman 
               </a> (graduated from Harvard),
               <a href="https://lukesmith.xyz/"  target="_blank" class="a-simple">
                Luke Smith</a>,
               <a href="http://www.youtube.com/@emiliamerge7201"  target="_blank" class="a-simple">
                Emilia Merge</a>, the Obarun community and many others.
                </p>
                <!--<button>
                    <a href="https://sysdfree.wordpress.com/2024/04/02/384/"  target="_blank" class="a-green">
                        > Check the Linux xz fiasco 
                    </a>
                </button>-->
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Insecure new kernels.</h2>
                    <p class="default-p">
                        The kernel devs have lost control on their kernel since version 6.1. Sometimes, they merge code from third-parties  <span class="default-highlight"> without review</span>. I have seen unsigned kernel modules on some Debian-based OSs. The FSF is struggling to remove all this code for building the linux-libre kernel.
                    </p>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>
