<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h1 class="default-subtopic"><i class='fas fa-tools' style='font-size:46px'></i>&nbsp;&nbsp;Work in progress</h1>
                <h2 class="default-topic">Security Insight.</h2>
                                             
                
                <p class="default-p">
                    mon txt: data breach all of side
                </p>
                
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">unsecure new kernels.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my GitHub account for projects, or <span class="default-highlight">reach out to arrange a meeting</span>.
                        I would be happy to discuss how my <span class="default-highlight">problem-solving skills</span> can help address the challenges you are facing.
                    </p>
                    
                    <button>
                        <a href="https://sysdfree.wordpress.com/2024/04/02/384/"  target="_blank" class="a-green">
                            > Check the Linux xz fiasco 
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
