<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h1 class="default-subtopic"><i class='fas fa-tools' style='font-size:46px'></i>&nbsp;&nbsp;Work in progress</h1>
                <h2 class="default-topic">More than init.</h2>
                <p class="default-p">
                    Systemd is more than an init. It throws the "do one thing and do it well" principle in the trash.
                    
                    It controls everything: init, logging, networking, DNS, containers, login session and more.

                    Its complexity leads to bugs and vulnerabilities.
                    Dependency Lock-In.  
                    Systemd hides everything behind layers of complexity. No transparency.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
