<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h1 class="default-subtopic"><i class='fas fa-tools' style='font-size:46px'></i>&nbsp;&nbsp;Work in progress</h1>
                <h2 class="default-topic">More than init.</h2>
                <p class="default-p">
                    Systemd is more than an init. It throws the "do one thing and do it well" principle in the trash.
                    
                    It controls everything: init, logging, networking, DNS, containers, login session and more.

                    Its complexity leads to bugs and vulnerabilities.

                     
                </p>
                <p class="no-marge-p">May 19, 2025 :<a href="https://www.webpronews.com/systemd-continues-raising-concerns-for-linux-users/"  target="_blank" class="a-simple">
                     article from Matt Milano 
                </a></p>
                <p class="no-marge-p">April 2, 2024 :<a href="https://sysdfree.wordpress.com/2024/04/02/384/"  target="_blank" class="a-simple">
                    article about the Linux xz fiasco  
               </a></p>
               <p class="no-marge-p">2024 <a href="https://media.ccc.de/v/38c3-sixos-a-nix-os-without-systemd"  target="_blank" class="a-simple">
                conference talk about sixos: a nixOS without systemd  
           </a></p>
               <p class="no-marge-p">older :<a href="https://wiki.hyperbola.info/doku.php?id=en:philosophy:systemd_denial"  target="_blank" class="a-simple">
                Hyperbola' article  
           </a></p>
               <p class="default-p">older :<a href="https://skarnet.org/software/systemd.html"  target="_blank" class="a-simple">
                Skarnet' article  
           </a></p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
