<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Unsecure." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Advanced <strong><span class="default-highlight">Spanish</span></strong></p>
      <p>Native <strong><span class="default-highlight">Portuguese</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2023 - UFSC - <strong><span class="default-highlight">Information Systems</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The Brazillian Gazettes' Restful APIs
        </li>
      </ul>
      <p>2018 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Master's Degree</p>
      <ul>
        <li>
          Thesis | TOR Network and non-state actors: an analysis of Power Diffusion in three dimensions
        </li>
      </ul>
      <p>2014 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The TOR Network and International Relations
        </li>
      </ul>
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Technical."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>SENAI/SC Lab365 - <strong><span class="default-highlight">Fullstack Development with Java, Spring and Angular</span></strong> - November/2024</p>
      <ul>
        <li>
          A software development course focused on Fullstack applications. Technologies include 
          Spring Boot Data JPA, Spring Security, Web, Data JDBC, JWT, Flyway Core, SQL, and 
          PostgreSQL, as well as Angular, Typescript, Javascript, HTML, CSS, Docker, Kubernetes, CI/CD and more.
        </li>
      </ul>
      <p>AWS Academy Graduate - <strong><span class="default-highlight">AWS Academy Cloud Foundations</span></strong> - July/2022</p>
      <ul>
        <li>
          Certification issued by Amazon Web Services Training and Certification upon successful completion of the AWS Academy Cloud Foundations course. This badge attests to proficiency in AWS Architecture, AWS Cloud, AWS Core Services, AWS Pricing, and AWS Support.
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>One of the critical arguments against systemd is the lack of portability to other Unices and the possibility that Linux-based systems using systemd would detach from the UNIX world. OpenBSD, FreeBSD and other BSD OSes are de facto incompatible with systemd and <strong><span class="default-highlight">any software that hard-depend on systemd</span></strong>.</p>
      <p>For instance, porting KDE Plasma to FreeBSD requires a <strong><span class="default-highlight">dirty Linux compatibility layer</span></strong>.</p>
      
    </div>
    </accordion-group>
  
  </accordion>
  
</div>