<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="No transparency." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Systemd hides everything behind layers of complexity. You cannot audit it. Systemd generates tons of logs. The systemd dev leaders are Mcrosft employees. </p>      
    </div>
    </accordion-group>

    <accordion-group 
    heading="Bugs." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p> With Systemd, system shutdown can take several minutes and DNS resolving is not always reliable. There are also problems with kernel keyring management and cgroups.</p> 
      <p>Many systemd-free distros use elogind. It's basically systemd-logind, extracted out to be a standalone daemon. This was supposed to be a <span class="default-highlight">temporary dirty solution</span> to make Gnome compatible with systemd-free distro but it has become the standard. Elogind has a lot of dead code and bugs in sleep/hibernate mode. ConsoleKit2 is superior because the most reliable code is the smallest code. I have used Devuan with ConsoleKit2 and it works great.</p>
    
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Dependency Lock-In."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>MX Linux and Artix Linux are systemd-free but they have elogind and libsystemd. You cannot remove them. More and more software depends on elogind and libsystemd. MX/Artix devs don't care about this problem but it's a nightmare for AntiX and Obarun devs.</p>
      <p>Pipewire</p>
     
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="What about *BSD?"
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>One of the critical arguments against systemd is the lack of portability to other Unices and the possibility that Linux-based systems using systemd would detach from the UNIX world. OpenBSD, FreeBSD and other BSD OSes are de facto incompatible with systemd and <strong><span class="default-highlight">any software that hard-depend on systemd</span></strong>.</p>
      <p>For instance, porting KDE Plasma to FreeBSD requires a <strong><span class="default-highlight">dirty Linux compatibility layer</span></strong>.</p>
      
    </div>
    </accordion-group>
  
  </accordion>
  
</div>