
@media (max-width: 768px) {
    .home-title, .home-author {
        font-size: 50px !important;
    }

    .home-author {
        line-height: 4rem !important;
    }
  }

.text-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-left {
    margin: 80px;
    text-align: start;
}

.home-title {
    font-size: 2.5rem;
    color: #e0f0ff;
    margin-bottom: 5rem;
    line-height: 2.5rem;
}

.home-author {
    font-size: 2.5rem;
    color: hsla(216, 68%, 82%, 0.588);
    margin-bottom: 3rem;
}

#dynamic-text {
    border-right: 2px solid hsl(141, 87%, 56%);
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: hsl(141, 87%, 56%);
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: hsl(141, 87%, 56%); }
}

