.warn2 {
    color: #BB0050;    
    font-size: 1.0rem;
    font-weight: 600; /*semibold */
 
    } 
  #left_side {
    position: relative;
    float: left;
    width: 30%;
    height : 300px;
    /*background-color: #52f47052;*/
    
    }
    #right_side {
    position: relative;
    float: right;
    width: 70%;
    height : 300px;
    /*background-color: #2222d52a;*/
    
    }
#inRside {
    position: relative;
    float: left;
    width: 60%;
    height : 100%;
    /*background-color: #d522ae29;*/
    
    }
    #left_side img {
        
        margin: 52px 0px 0px 52px;
        padding: 0px;
        }    
th, td {
  min-width:110px;
  padding: 0 15px;
}        