<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Reclaim control over your OS by avoiding unnecessary entanglements and untold vulnerabilities.</h1>
        <h2 class="home-author">Choose your init. <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I don't use SystemD because PID1 must be simple, secure and stable.
        </blockquote>
        <button>
            <a href="https://wiki.hyperbola.info/doku.php?id=en:philosophy:systemd_denial"  target="_blank" class="a-green">
                > Check Hyperbola' article 
            </a>
        </button>
      </div>
    </div>
  </div>
  